#header.sixteen.columns
  %h1.remove-bottom Kay Ka Fèt
  %h5 "O la sa ka bay"
  %p Version 0.1
.sixteen.columns
  %hr
.one-third.column
  %h3 What is Kay Ka Fèt?
  %p Kay Ka Fèt is an application to track events. You define the events you want to track, you record occasions of those events. Kay Ka Fèt will help you mark the place and time, and then visualize the Events and Occasions.
.one-third.column
  %h3 Why Kay Ka Fèt?
  %p Kay Ka Fèt is just an application that i'am using with my friend to share good places. Just decide to share it!!
.one-third.column
  %h6 What's the word?
  %br
  %ul.square
    %li
      %strong> Jeff
      \: "That App is really cool!!"
    %li
      %strong> Valerie
      \: "Using it with my friends! Great!!"
    %li
      %strong> Stephane
      \: "easy to use, nice design!!"
    = succeed "." do
      %a{:href => "http://www.bemonkey.net"} www.bemonkey.net.
    Be Monkey web solution for smart Monkeys
/
  JS
  \========================================================
%script{:src => "javascripts/tabs.js"}
/
  End Document
  \========================================================